In [8]:
import pandas as pd
import numpy as np

In [15]:
cats_and_dogs = pd.DataFrame({"dogs": [3, 5, 10], "cats": [2, 8, 4]})

In [16]:
cats_and_dogs

   dogs  cats
0     3     2
1     5     8
2    10     4

In [17]:
type(cats_and_dogs)

pandas.core.frame.DataFrame

In [18]:
cats_and_dogs.shape

(3, 2)