In [1]:
import pandas as pd
import numpy as np

In [8]:
cats_and_dogs = pd.DataFrame({"cats": [1, 2, 3], "dogs": [4, 5, 6]})

In [9]:
cats_and_dogs

   cats  dogs
0     1     4
1     2     5
2     3     6

In [10]:
type(cats_and_dogs)

pandas.core.frame.DataFrame

In [12]:
cats_and_dogs.shape

(3, 2)

In [13]:
numbers = pd.Series([1, 2, 3])

In [14]:
numbers

0    1
1    2
2    3
dtype: int64

In [15]:
type(numbers)

pandas.core.series.Series

In [16]:
type(cats_and_dogs["cats"])

pandas.core.series.Series

In [17]:
accidents_data = pd.read_csv("accidents.csv")

In [18]:
accidents_data

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [19]:
column = accidents_data["Miles from Home"]

In [20]:
column

0    less than 1
1         1 to 5
2        6 to 10
3       11 to 15
4       16 to 20
5        over 20
Name: Miles from Home, dtype: object

In [21]:
row = accidents_data.loc[0]

In [22]:
row

Miles from Home    less than 1
% of Accidents              23
Name: 0, dtype: object

In [24]:
accidents_data.loc[2, "% of Accidents"]

17

In [25]:
accidents_data.shape

(6, 2)

In [26]:
accidents_data.dtypes

Miles from Home    object
% of Accidents      int64
dtype: object

In [27]:
accidents_data.index

RangeIndex(start=0, stop=6, step=1)

In [30]:
accidents_data.columns

Index(['Miles from Home', '% of Accidents'], dtype='object')